@model SistemaVenda.Models.ViewModel.VendaViewModel;

@{
    ViewData["Title"] = "Venda";
}

<h2>Vendas</h2>
<hr />

<form asp-controller="Venda" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

    <div class="form-group">
        <div class="col-4">
            <label>Data</label>
            <input type="date" asp-for="Data" value="@Model.Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-4">
            <label>Cliente</label>
            <select asp-for="CodigoCliente" asp-items="@Model.ListaClientes" class="form-control input-group-lg" ></select>
            <span asp-validation-for="CodigoCliente" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-4">
            <label>Produtos</label>
            <select id="ddlProduto" onchange="BuscarPrecoProduto()" asp-items="@Model.ListaProdutos" class="form-control input-group-lg"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Preço Unitário</label>
            <input id="txtPrecoUnitario" type="number" class="form-control" disabled />
        </div>

        <div class="col-md-2">
            <label>Quantidade</label>
            <input id="txtQtde" type="number" class="form-control" onchange="CalcularSubTotal()" />
        </div>

        <div class="col-md-2">
            <label>Sub Total</label>
            <input id="txtSubTotal" type="number" class="form-control" disabled />
        </div>

        <div class="col-md-2">           
            <br />
            <button type="button" class="btn btn-info" onclick="AddProduto()">Adicionar</button>
            <br/>
        </div>
    </div>

    <div class="form-group">
         <div class="col-md-12">
             <table class="table table-bordered">
                 <thead class="thread-inverse">
                     <tr style="background-color: #f6f6f6;">
                         <th>Produto</th>
                         <th>Preço Unitário</th>
                         <th>Quantidade</th>
                         <th>Total</th>
                     </tr>
                 </thead>
                 <tbody id="gridProdutos"></tbody>
             </table>
         </div>
    </div>

    <div class="form-group">         
        <div class="col-md-3">
            <label>Total</label>
            <input id="txtTotal" asp-for="Total" type="text" value="@Model.Total" class="form-control" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>
    </div>

    <textarea asp-for="JsonProdutos" id="txtJsonProdutos" class="col" style="display:none"></textarea>

  <br />
  <div class="col">
    <button type="button" class="btn btn-info" onclick="Novo()"> Novo </button>
    <button type="submit" class="btn btn-success"> Gravar </button>
    <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
    @if (Model.Codigo != null)
   {
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)">Excluir</button>
   }
   </div>

</form>


<script>

    var items = new Object();
    items.Produtos = new Array();
    var gridProdutos = document.getElementById("gridProdutos");

    function fixaDuasCasasDecimais(num) {
        return parseFloat(Math.round(num * 100) / 100).toFixed(2);
    }

    function AddProduto() {
        var CodigoProduto = document.getElementById("ddlProduto");
        var Qtde = document.getElementById("txtQtde").value;
        var PrecoUnitario = document.getElementById("txtPrecoUnitario").value;
        var SubTotal = document.getElementById("txtSubTotal").value;

        //Building the Json
        items.Produtos.push({
            //the name of left side should respect the same name of Json Produtos<VendaProdutos> in VendaController - line 108
            "CodigoProduto": CodigoProduto.value,
            "Quantidade": Qtde,
            "ValorUnitario": PrecoUnitario,
            "ValorTotal": SubTotal
        });

        document.getElementById("txtJsonProdutos").value = JSON.stringify(items.Produtos);

        var linhaGrid =
            "<tr id='" + CodigoProduto.value + "'>" +
            "<td>" + CodigoProduto.options[CodigoProduto.selectedIndex].text + "</td>" +
            "<td>" + PrecoUnitario + "</td>" +
            "<td>" + Qtde + "</td>" +
            "<td> R$ " + SubTotal + "</td>" +
            "</tr>";

        gridProdutos.innerHTML += linhaGrid;

        var total = Number(document.getElementById("txtTotal").value.toString().replace(",", ".")) + Number(SubTotal);
        document.getElementById("txtTotal").value = fixaDuasCasasDecimais(total).replace(".",",");

        document.getElementById("txtQtde").value = "";
        document.getElementById("txtPrecoUnitario").value = "";
        document.getElementById("txtSubTotal").value = "";
        //-1 remove the selection
        document.getElementById("ddlProduto").selectedIndex = -1;
    }

    function Novo() {
        Request("Cadastro");
    }

    function Listagem() {
        Request("");
    }

    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo);
    }

    function Request(request) {
        window.location = window.origin + "\\Venda\\" + request;
    }

    function BuscarPrecoProduto() {
        var CodigoProduto = document.getElementById("ddlProduto");
        var url = `/LerValorProduto/${CodigoProduto.value}`;
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            //if request is done
            if (xhr.readyState == XMLHttpRequest.DONE) {
                //insert the response in txtPrecoUnitario
                document.getElementById("txtPrecoUnitario").value = xhr.responseText;
            }
        }

        //false asynchronous and true synchronous
        //false == process and release the page
        xhr.open('GET', url, false)
        xhr.send(null);
    }

    function CalcularSubTotal() {
        var Qtde = document.getElementById("txtQtde").value;
        var PrecoUnitario = document.getElementById("txtPrecoUnitario").value;

        document.getElementById("txtSubTotal").value = fixaDuasCasasDecimais(Qtde * PrecoUnitario);        
    }

</script>